*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.full-height {
  height: 100%;
}

/* ROOT VARIABLES */
:root {
  --type-normal: #A8A77A;
  --type-fire: #EE8130;
  --type-water: #6390F0;
  --type-electric: #F7D02C;
  --type-grass: #7AC74C;
  --type-ice: #96D9D6;
  --type-fighting: #C22E28;
  --type-poison: #A33EA1;
  --type-ground: #E2BF65;
  --type-flying: #A98FF3;
  --type-psychic: #F95587;
  --type-bug: #A6B91A;
  --type-rock: #B6A136;
  --type-ghost: #735797;
  --type-dragon: #6F35FC;
  --type-dark: #705746;
  --type-steel: #B7B7CE;
  --type-fairy: #D685AD;
}

p {
  margin: 0;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}
.flex.col {
  flex-direction: column;
}
.flex.jc-c {
  justify-content: center;
}
.flex.jc-sa {
  justify-content: space-around;
}
.flex.jc-se {
  justify-content: space-evenly;
}
.flex.jc-sb {
  justify-content: space-between;
}
.flex.ai-c {
  align-items: center;
}

/* Grid of Pokemon */
#pokemonCardsContainer {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 5px; */
}

/* Pokemon Card */
.pokemon-card {
  /* border: 0.1rem solid rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  cursor: pointer; */
}

/* Name */
.name-container h6 {
  font-size: 1.2rem;
}

/* Type Containers */
.type-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
}
.type {
  padding: 0.25rem;
  display: inline-block;
  line-height: 1;
}
/* .normal { background-color: var(--type-normal); }
.fire { background-color: var(--type-fire); }
.water { background-color: var(--type-water); }
.electric { background-color: var(--type-electric); }
.grass { background-color: var(--type-grass); }
.ice { background-color: var(--type-ice); }
.fighting { background-color: var(--type-normal); }
.poison { background-color: var(--type-poison); }
.ground { background-color: var(--type-ground); }
.flying { background-color: var(--type-flying); }
.psychic { background-color: var(--type-psychic); }
.bug { background-color: var(--type-bug); }
.rock { background-color: var(--type-rock); }
.ghost { background-color: var(--type-ghost); }
.dragon { background-color: var(--type-dragon); }
.dark { background-color: var(--type-dark); }
.steel { background-color: var(--type-steel); }
.fairy { background-color: var(--type-fairy); } */

.white-font { color: #FFFFFF; }
.bold { font-weight: 700; }

.hidden {
  display: none !important;
}

/* Pokemon Button Container */
.pokemon-card-container.fire {
  background-color: var(--type-fire);
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row {
  gap: 10px;
  margin-left: 0;
  margin-right: 0;
}

.navbar-nav {
  /* align-items: center; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow-y: auto;
  height: 100vh;
  gap: 5px;
}
#filterByTypeBtn {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: #FFF;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 1rem 0;
  padding-left: 1rem;
}
#filterByTypeBtn[aria-expanded='true'] {
  background-color: rgba(255, 255, 255, 0.25);
}
.dropdown-menu {
  width: 100%;
  transform: translate3d(0px, 30px, 0px);
  background-color: transparent;
}
.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.25s ease-in;
}
.dropdown-item .circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid;
}
.dropdown-item#all .circle {
  border-color: white;
}
.dropdown-item.selected#all .circle {
  background-color: white;
}
.dropdown-item#normal .circle { border-color: var(--type-normal); }
.dropdown-item#fire .circle { border-color: var(--type-fire); }
.dropdown-item#water .circle { border-color: var(--type-water); }
.dropdown-item#electric .circle { border-color: var(--type-electric); }
.dropdown-item#grass .circle { border-color: var(--type-grass); }
.dropdown-item#ice .circle { border-color: var(--type-ice); }
.dropdown-item#fighting .circle { border-color: var(--type-fighting); }
.dropdown-item#poison .circle { border-color: var(--type-poison); }
.dropdown-item#ground .circle { border-color: var(--type-ground); }
.dropdown-item#flying .circle { border-color: var(--type-flying); }
.dropdown-item#psychic .circle { border-color: var(--type-psychic); }
.dropdown-item#bug .circle { border-color: var(--type-bug); }
.dropdown-item#rock .circle { border-color: var(--type-rock); }
.dropdown-item#ghost .circle { border-color: var(--type-ghost); }
.dropdown-item#dragon .circle { border-color: var(--type-dragon); }
.dropdown-item#dark .circle { border-color: var(--type-dark); }
.dropdown-item#steel .circle { border-color: var(--type-steel); }
.dropdown-item#fairy .circle { border-color: var(--type-fairy); }

.dropdown-item#normal.selected .circle { background-color: var(--type-normal); }
.dropdown-item#fire.selected .circle { background-color: var(--type-fire); }
.dropdown-item#water.selected .circle { background-color: var(--type-water); }
.dropdown-item#electric.selected .circle { background-color: var(--type-electric); }
.dropdown-item#grass.selected .circle { background-color: var(--type-grass); }
.dropdown-item#ice.selected .circle { background-color: var(--type-ice); }
.dropdown-item#fighting.selected .circle { background-color: var(--type-fighting); }
.dropdown-item#poison.selected .circle { background-color: var(--type-poison); }
.dropdown-item#ground.selected .circle { background-color: var(--type-ground); }
.dropdown-item#flying.selected .circle { background-color: var(--type-flying); }
.dropdown-item#psychic.selected .circle { background-color: var(--type-psychic); }
.dropdown-item#bug.selected .circle { background-color: var(--type-bug); }
.dropdown-item#rock.selected .circle { background-color: var(--type-rock); }
.dropdown-item#ghost.selected .circle { background-color: var(--type-ghost); }
.dropdown-item#dragon.selected .circle { background-color: var(--type-dragon); }
.dropdown-item#dark.selected .circle { background-color: var(--type-dark); }
.dropdown-item#steel.selected .circle { background-color: var(--type-steel); }
.dropdown-item#fairy.selected .circle { background-color: var(--type-fairy); }

.dropdown-item:hover,
.dropdown-item.selected {
  background-color: rgba(255, 255, 255, 0.05);
  color: #FFF;
}

.scroll-y {
  overflow-y: auto;
  height: 100vh;
  padding: 1rem 0;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  width: 200px;
  height: 180px;
  min-width: 200px;
  max-width: 200px;
  min-height: 180px;
  max-height: 180px;
  transition: all 0.25s ease-in;
}
.pokemon-card:hover {
  /* background-color: rgba(0,0,0,0.15); */
  box-shadow: 0 5px 5px rgba(0,0,0,0.25),
              inset 0 -2px 5px 1px rgba(255, 255, 255, 0.15);
}
.card-text {
  display: flex;
  justify-content: space-evenly;
}

/* Pokemon Buttons */
.pokemon-button {
  padding: 0.5rem;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.pokemon-button:hover {
  background-color: rgba(0,0,0,0.25);
}

/* Modal Styles */
#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough */
  overflow: auto;

  /* used to center the modal */
  display: grid;
  text-align: center;
}

.modal-box {
  background-color: #fff;
}

/* DEFAULT MIN-WIDTH AND MAX-WIDTH OF CONTENT CONTAINERS */
.content-container {
  min-width: 250px;
  max-width: 650px;
  margin: 0 auto;
}

/* IMAGE TYPES STATS CONTAINER */
.img-types-stats-container,
.type-stats-container {
  flex-direction: column;
  gap: 0.5rem;
}

/* --- Image Container & Image */
.img-container {
  width: 100px;
  height: 100px;
}
.img-types-stats-container .img-container {
  min-height: 160px;
}
.img-types-stats-container .img-container img {
  min-width: 160px;
  min-height: 160px;
}

/* --- Types Container */
.types-stats-container {
  align-items: center;
  gap: 0.3rem;
}
.types-container {
  text-align: left;
  gap: 0.5rem;
}

/* --- Stats Container */
.stats-container {
  min-width: 250px;
  max-width: 350px;
  gap: 0.3rem;
}
/* --- Stat Title & Bars */
.stat-title {
  flex-grow: 1;
  flex-basis: 0;
  text-align: left;
}
.stat-bar {
  flex-basis: 0;
  -webkit-box-flex: 2;
  flex-grow: 2;
  background-color: #EDEDED;
  position: relative;
}
.stat-bar-bg,
.stat-bar-fg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.stat-bar-bg {
  transform-origin: left;
}
.stat-bar-fg {
  text-align: left;
  padding-left: 0.25rem;
}

/* PROFILE CONTENT */
/* --- Profile Details Table */
.profile-content-container {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0.3rem;
}
.table-row {
  justify-content: space-evenly !important;
}
.row-item-container {
  flex-basis: 20%;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
}
.row-item-container p {
  margin: 0;
}
.table-row-title {
  text-align: right;
  padding-right: 20px;
}

/* EVOLUTIONS CONTENT */
/* --- Images Wrapper */
.evolution-imgs-wrapper {
  gap: 2rem;
}

/* MOVES CONTENT */
/* --- Moves Group */
.moves-group {
  padding: 0 2rem;
}
.moves-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* --- Move Elements */
.move-row {
  align-items: center;
}
.move-detail {
  line-height: 1;
  /* padding: 1rem 0.5rem; */
}
.move-level-element {
  flex-basis: 15%;
}
.move-title-element {
  text-align: left;
  flex-basis: 50%;
}
.move-type-element {
  flex-basis: 20%;
}
.move-button {
  width: 36px;
}
/* --- Move Stats: Dropdown */
.drop-down-row {
  width: 85%;
  padding: 0 5%;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.25);
}
.move-effect-container {
  text-align: left;
}

/* When the browser is at least 530px and above */
@media screen and (min-width: 530px) {
  /* IMAGE TYPES STATS CONTAINER */
  /* .img-types-stats-container {
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
  }
  .img-types-stats-container > * {
    flex-grow: 1;
  }
  .img-types-stats-container > .img-container {
    background-color: red;
    margin-right: 1rem;
  }
  .types-stats-container {
    align-items: flex-start;
  } */
}

/* Small devices (landscape phones, 576px and up) */
/* @media (max-width: 576px) {
  .row-content {
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 577px) and (max-device-width: 1200px) {
  .row-content {
    flex-direction: row;
  }
} */