*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  padding-top: 3.5rem;
}

.full-height {
  height: 100%;
}

/* ROOT VARIABLES */
:root {
  --type-normal: #A8A77A;
  --type-fire: #EE8130;
  --type-water: #6390F0;
  --type-electric: #F7D02C;
  --type-grass: #7AC74C;
  --type-ice: #96D9D6;
  --type-fighting: #C22E28;
  --type-poison: #A33EA1;
  --type-ground: #E2BF65;
  --type-flying: #A98FF3;
  --type-psychic: #F95587;
  --type-bug: #A6B91A;
  --type-rock: #B6A136;
  --type-ghost: #735797;
  --type-dragon: #6F35FC;
  --type-dark: #705746;
  --type-steel: #B7B7CE;
  --type-fairy: #D685AD;
}

p {
  margin: 0;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}
.flex.col {
  flex-direction: column;
}
.flex.jc-c {
  justify-content: center;
}
.flex.jc-sa {
  justify-content: space-around;
}
.flex.jc-se {
  justify-content: space-evenly;
}
.flex.jc-sb {
  justify-content: space-between;
}
.flex.ai-c {
  align-items: center;
}

/* Grid of Pokemon */
#pokemonCardsContainer {
  padding-right: 0;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 5px; */
}

/* Pokemon Card */
.pokemon-card {
  /* border: 0.1rem solid rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  cursor: pointer; */
}

/* Name */
.name-container h6 {
  font-size: 1.2rem;
}

/* Type Containers */
.type-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
}
.type {
  padding: 0.25rem;
  display: inline-block;
  line-height: 1;
}
span[data-type='normal'] { background-color: var(--type-normal); }
span[data-type='fire'] { background-color: var(--type-fire); }
span[data-type='water'] { background-color: var(--type-water); }
span[data-type='electric'] { background-color: var(--type-electric); }
span[data-type='grass'] { background-color: var(--type-grass); }
span[data-type='ice'] { background-color: var(--type-ice); }
span[data-type='fighting'] { background-color: var(--type-normal); }
span[data-type='poison'] { background-color: var(--type-poison); }
span[data-type='ground'] { background-color: var(--type-ground); }
span[data-type='flying'] { background-color: var(--type-flying); }
span[data-type='psychic'] { background-color: var(--type-psychic); }
span[data-type='bug'] { background-color: var(--type-bug); }
span[data-type='rock'] { background-color: var(--type-rock); }
span[data-type='ghost'] { background-color: var(--type-ghost); }
span[data-type='dragon'] { background-color: var(--type-dragon); }
span[data-type='dark'] { background-color: var(--type-dark); }
span[data-type='steel'] { background-color: var(--type-steel); }
span[data-type='fairy'] { background-color: var(--type-fairy); }

.white-font { color: #FFFFFF; }
.bold { font-weight: 700; }

.hidden {
  display: none !important;
}

/* Pokemon Button Container */
.pokemon-card-container.fire {
  background-color: var(--type-fire);
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row {
  gap: 10px;
  margin-left: 0;
  margin-right: 0;
}

/* --- NAVBAR --- */
.navbar-nav {
  /* align-items: center; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow-y: auto;
  gap: 5px;
}

/* --- SEARCH BAR INPUT GROUP --- */
#magnifyingGlass {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#filterTypesParent-Mobile {
  display: none;
}

@media (max-width: 992px) {
  #filterTypesContainer-Desktop {
    display: none;
  }
  #filterTypesParent-Mobile {
    display: block;
  }
}















/* .form-control[type='search'] {
  width: 95%;
  margin: 0 auto;
} */
.form-control:focus {
  border: 1px solid #6c757d !important;
  box-shadow: inset 0 -1px 0px #6c757d,
              inset -1px 0 0px #6c757d,
              inset 1px 0 0px #6c757d,
              inset 0 1px 0px #6c757d !important;
  outline: none !important;
}
.dropdown-btn {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: #FFF;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 1rem 0;
  padding-left: 1rem;
}
.collapse-btns {
  gap: 5px;
}
.btn:focus,
.btn:active,
.btn-primary:focus,
.dropdown-btn:active,
.dropdown-btn:focus {
  box-shadow: none !important;
  outline: none !important;
}
.btn[aria-expanded='true'] > i {
  color: #FFF;
}
.dropdown-btn[aria-expanded='true'] {
  background-color: rgba(255, 255, 255, 0.25);
}
.dropdown-menu {
  width: 100vw;
  top: 90% !important;
  border-radius: 0;
  margin-left: -1px;
  background-clip: unset;
  /* transform: translate3d(0px, 0px, 0px) !important; */
}
.dropdown-menu.show {
  display: flex !important;
  overflow-x: auto;
}
.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  gap: 25px;
  transition: all 0.25s ease-in;
}
.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid;
}
.dropdown-item[data-pokemon-type='all'] .circle {
  border-color: white;
}
.dropdown-item.selected[data-pokemon-type='all'] .circle {
  background-color: white;
}
.dropdown-item[data-pokemon-type='normal'] .circle { border-color: var(--type-normal); }
.dropdown-item[data-pokemon-type='fire'] .circle { border-color: var(--type-fire); }
.dropdown-item[data-pokemon-type='water'] .circle { border-color: var(--type-water); }
.dropdown-item[data-pokemon-type='electric'] .circle { border-color: var(--type-electric); }
.dropdown-item[data-pokemon-type='grass'] .circle { border-color: var(--type-grass); }
.dropdown-item[data-pokemon-type='ice'] .circle { border-color: var(--type-ice); }
.dropdown-item[data-pokemon-type='fighting'] .circle { border-color: var(--type-fighting); }
.dropdown-item[data-pokemon-type='poison'] .circle { border-color: var(--type-poison); }
.dropdown-item[data-pokemon-type='ground'] .circle { border-color: var(--type-ground); }
.dropdown-item[data-pokemon-type='flying'] .circle { border-color: var(--type-flying); }
.dropdown-item[data-pokemon-type='psychic'] .circle { border-color: var(--type-psychic); }
.dropdown-item[data-pokemon-type='bug'] .circle { border-color: var(--type-bug); }
.dropdown-item[data-pokemon-type='rock'] .circle { border-color: var(--type-rock); }
.dropdown-item[data-pokemon-type='ghost'] .circle { border-color: var(--type-ghost); }
.dropdown-item[data-pokemon-type='dragon'] .circle { border-color: var(--type-dragon); }
.dropdown-item[data-pokemon-type='dark'] .circle { border-color: var(--type-dark); }
.dropdown-item[data-pokemon-type='steel'] .circle { border-color: var(--type-steel); }
.dropdown-item[data-pokemon-type='fairy'] .circle { border-color: var(--type-fairy); }

.progress-bar[data-main-type-bg='normal'],
.dropdown-item[data-pokemon-type='normal'].selected .circle,
.circle.normal.selected { background-color: var(--type-normal); }
.progress-bar[data-main-type-bg='fire'],
.dropdown-item[data-pokemon-type='fire'].selected .circle,
.circle.fire.selected { background-color: var(--type-fire); }
.progress-bar[data-main-type-bg='water'],
.dropdown-item[data-pokemon-type='water'].selected .circle,
.circle.water.selected { background-color: var(--type-water); }
.progress-bar[data-main-type-bg='electric'],
.dropdown-item[data-pokemon-type='electric'].selected .circle,
.circle.electric.selected { background-color: var(--type-electric); }
.progress-bar[data-main-type-bg='grass'],
.dropdown-item[data-pokemon-type='grass'].selected .circle,
.circle.grass.selected { background-color: var(--type-grass); }
.progress-bar[data-main-type-bg='ice'],
.dropdown-item[data-pokemon-type='ice'].selected .circle,
.circle.ice.selected { background-color: var(--type-ice); }
.progress-bar[data-main-type-bg='fighting'],
.dropdown-item[data-pokemon-type='fighting'].selected .circle,
.circle.fighting.selected { background-color: var(--type-fighting); }
.progress-bar[data-main-type-bg='poison'],
.dropdown-item[data-pokemon-type='poison'].selected .circle,
.circle.poison.selected { background-color: var(--type-poison); }
.progress-bar[data-main-type-bg='ground'],
.dropdown-item[data-pokemon-type='ground'].selected .circle,
.circle.ground.selected { background-color: var(--type-ground); }
.progress-bar[data-main-type-bg='flying'],
.dropdown-item[data-pokemon-type='flying'].selected .circle,
.circle.flying.selected { background-color: var(--type-flying); }
.progress-bar[data-main-type-bg='psychic'],
.dropdown-item[data-pokemon-type='psychic'].selected .circle,
.circle.psychic.selected { background-color: var(--type-psychic); }
.progress-bar[data-main-type-bg='bug'],
.dropdown-item[data-pokemon-type='bug'].selected .circle,
.circle.bug.selected { background-color: var(--type-bug); }
.progress-bar[data-main-type-bg='rock'],
.dropdown-item[data-pokemon-type='rock'].selected .circle,
.circle.rock.selected { background-color: var(--type-rock); }
.progress-bar[data-main-type-bg='ghost'],
.dropdown-item[data-pokemon-type='ghost'].selected .circle,
.circle.ghost.selected { background-color: var(--type-ghost); }
.progress-bar[data-main-type-bg='dragon'],
.dropdown-item[data-pokemon-type='dragon'].selected .circle,
.circle.dragon.selected { background-color: var(--type-dragon); }
.progress-bar[data-main-type-bg='dark'],
.dropdown-item[data-pokemon-type='dark'].selected .circle,
.circle.dark.selected { background-color: var(--type-dark); }
.progress-bar[data-main-type-bg='steel'],
.dropdown-item[data-pokemon-type='steel'].selected .circle,
.circle.steel.selected { background-color: var(--type-steel); }
.progress-bar[data-main-type-bg='fairy'],
.dropdown-item[data-pokemon-type='fairy'].selected .circle,
.circle.fairy.selected { background-color: var(--type-fairy); }

.dropdown-item:hover,
.dropdown-item.selected {
  background-color: rgba(255, 255, 255, 0.05);
  color: #FFF;
}

#pokemonCardsContainer {
  overflow-y: auto;
  height: 100vh;
  padding: 1rem 0;
  position: relative;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  width: 40%;
  max-width: 250px;
  /* width: 200px;
  height: 180px;
  min-width: 200px;
  max-width: 200px;
  min-height: 180px;
  max-height: 180px; */
  transition: all 0.25s ease-in;
}
.pokemon-card:hover {
  /* background-color: rgba(0,0,0,0.15); */
  box-shadow: 0 5px 5px rgba(0,0,0,0.25),
              inset 0 -2px 5px 1px rgba(255, 255, 255, 0.15);
}
.card-text {
  display: flex;
  justify-content: space-evenly;
}
.pokemon-card .card-body .card-title {
  font-size: 14px;
}

/* Pokemon Buttons */
.pokemon-button {
  padding: 0.5rem;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.pokemon-button:hover {
  background-color: rgba(0,0,0,0.25);
}

/* Modal Styles */


/* DEFAULT MIN-WIDTH AND MAX-WIDTH OF CONTENT CONTAINERS */
.content-container {
  min-width: 250px;
  max-width: 650px;
  margin: 0 auto;
}

/* IMAGE TYPES STATS CONTAINER */
#imageTypeStatsSection {
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
/* --- Image Container & Image */
.figure {
  width: 200px;
  height: 200px;
}
.figure-img {
  width: 100%;
  height: 100%;
}
/* --- Types Container */
.types-stats-container {
  align-items: center;
  gap: 0.3rem;
}
.types-stats-container span {
  padding: 1rem;
}
.types-container {
  text-align: left;
  gap: 0.5rem;
}

/* --- Stats Container */
.stats-container {
  min-width: 250px;
  max-width: 350px;
  gap: 0.3rem;
}
/* --- Stat Title & Bars */
.stat-title {
  flex-grow: 1;
  flex-basis: 0;
  text-align: left;
}
.stat-bar {
  flex-basis: 0;
  -webkit-box-flex: 2;
  flex-grow: 2;
  background-color: #EDEDED;
  position: relative;
}
.stat-bar-bg,
.stat-bar-fg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.stat-bar-bg {
  transform-origin: left;
}
.stat-bar-fg {
  text-align: left;
  padding-left: 0.25rem;
}

/* PROFILE CONTENT */
/* --- Profile Details Table */
.profile-data {
  gap: 1rem;
}

/* EVOLUTIONS CONTENT */
/* --- Images Wrapper */
.evolution-imgs-wrapper {
  gap: 2rem;
}

/* MOVES CONTENT */
/* --- Moves Group */
.moves-group {
  padding: 0 2rem;
}
.moves-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* --- Move Elements */
.move-row {
  align-items: center;
}
.move-detail {
  line-height: 1;
  /* padding: 1rem 0.5rem; */
}
.move-level-element {
  flex-basis: 15%;
}
.move-title-element {
  text-align: left;
  flex-basis: 50%;
}
.move-type-element {
  flex-basis: 20%;
}
.move-button {
  width: 36px;
}
/* --- Move Stats: Dropdown */
.drop-down-row {
  width: 85%;
  padding: 0 5%;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.25);
}
.move-effect-container {
  text-align: left;
}

/* When the browser is at least 530px and above */
@media screen and (min-width: 530px) {
  /* IMAGE TYPES STATS CONTAINER */
  /* .img-types-stats-container {
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
  }
  .img-types-stats-container > * {
    flex-grow: 1;
  }
  .img-types-stats-container > .img-container {
    background-color: red;
    margin-right: 1rem;
  }
  .types-stats-container {
    align-items: flex-start;
  } */
}

/* Small devices (landscape phones, 576px and up) */
/* @media (max-width: 576px) {
  .row-content {
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 577px) and (max-device-width: 1200px) {
  .row-content {
    flex-direction: row;
  }
} */